/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 0;
  font-family: museoslab;
}

.sidenav #emblem{
  margin: 0;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  color: #f1f1f1;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main { 
  padding: 0;
  margin: 0px 0px 0px 180px;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 0;
  margin-top:40px;
  width:100%;
}

.griditem {
  height: 0;
  padding-bottom: 100%;
  display:block;
}


.content{
  max-width: 800px;
}

video {
  width: 100%;
}

img {
  width: 100%;
}

a{
  color: #E7FC00;
}

body{
  padding:0px;
  margin:0px;
  background-color:#303443;
  color: #FFFFFF;
  font-size: 22px;
  width: 100%;
  font-family: CrimsonText;
}

iframe.view {
  margin: 0;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0;
}

@font-face {
  font-family: museoslab;
  src: url(MuseoSlab-500.otf);
}

@font-face {
  font-family: CrimsonText;
  src: url(CrimsonText-Regular.ttf);
}

h1{
  font-weight:normal;
  font-family: museoslab;
  font-size: 60px;
  margin-top: 70px;
  padding-top: 0;
  color: #E7FC00;
}

h2{
  font-weight:normal;
  font-family: museoslab;
  font-size: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}