/* The sidebar menu */
.nav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 0;
  font-family: museoslab;
}

.nav #emblem{
  margin: 0;
  width:160px;
  height:160px;
}

/* The navigation menu links */
.nav a {
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.nav a:hover {
  color: #f1f1f1;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #303443;
    color: #FFFFFF;
    font-size: 22px;
    left: 160px;
    right: 0px;
    position: absolute;
    font-family: CrimsonText;
}

@media screen and (max-width: 700px) {
    .nav {
        width: 100%;
        height: auto;
        position: relative;
    }

    .nav a {
        float: right;
    }

    .nav #emblem{
        display:none;
    }

    body{
        left: 0px;
    }
}

@media screen and (max-width: 400px) {
    .nav a {
        text-align: center;
        float: none;
    }
}


.content {
    max-width: 800px;
}

.grid {
  line-height: 0;
  columns: 300px;
  column-gap: 0px;
  padding: 0;
  margin-top:40px;
  width:100%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0;
    margin-top:40px;
    width:100%;
  }
  .grid a{
    width:100%;
    height: 0;
    padding-bottom: 100%;
    display: block;
  }

  .griditem{
    width:100%;
    height: 0;
    padding-bottom: 100%;
    display: block;
  }
}

video {
  width: 100%;
}

img {
  width: 100%;
}

a{
  color: #47ddff;
  border-width: 0px;
}

#view {
  margin: 0;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0;
}

@font-face {
  font-family: museoslab;
  src: url(MuseoSlab-500.otf);
}

@font-face {
  font-family: CrimsonText;
  src: url(CrimsonText-Regular.ttf);
}

h1{
  font-weight:normal;
  font-family: museoslab;
  font-size: 60px;
  margin-top: 70px;
  padding-top: 0;
  color: #E7FC00;
}

h2{
  font-weight:normal;
  font-family: museoslab;
  font-size: 30px;
}